<%- include('./partials/header') %>
    <h1>Contatos</h1>
    <hr>

    <%
        let contato = [ 
        {nome: "João", sobrenome: " Borba"}, 
        {nome: "Maria" , sobrenome: "Silva"}
        ];
    %>

        <ul>
            <% for(let cont of contato){ %>
                <li> Usuário: <%= cont.nome %> <%= cont.sobrenome %></li>
            <% } %>
        </ul>

<%- include('./partials/footer') %>